<html>
	<head>
		<title>Winner!</title>
		<link href="styles.css" rel="stylesheet" type="text/css">
	</head>
		<body>
			<h1>Hangman!</h1>
			<div id = "display">
				<%= display %>
			</div>
			<form>
				<div>
					<a href='/reset'>New Game</a>
				</div>
			</form>
		</body>
</html>