body{
	font-family: 'Raleway', sans-serif;
}

h1 {
	text-align: center;
	color: #511cff;
}

h2 {
	text-align:center;
}

#display {
	color:#4286f4;
	text-align:center;
	height: 50px;
  	font-size: 40px;
}

#wrapper {
	text-align:center;
	margin-top: 40px;
}

#guess {
	width: 30px;
}

.message {
	text-align:center;
	margin:10px 10px ;
	color:#4286f4;
}

#history {
	width: 300px;
	height: 50px;
	margin:auto;
	text-align:center;
	border: solid black 1px;
}

#history div:first-child {
	font-size: 25px
}

#choices {
	color: #68ed77;
}

img {

	height:350px;
	width:350px;
}

div {
	text-align:center;
}

#new_game {
	height:25px;
	width: 100px;
	padding-top:4px;
	background-color: #511cff;
	margin: auto;
	border-radius:5px;
	margin-top:10px;
}

a {
	color:white;
	text-decoration: none;
}